@page "/admin/departments"

<PageTitle>Departments</PageTitle>

<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
    <RadzenText TextStyle="TextStyle.H4">Departments</RadzenText>
    <RadzenLink Path="/admin/adddepartment">
        <RadzenButton>Add</RadzenButton>
    </RadzenLink>
</RadzenStack>

<RadzenDataGrid Data="@categories"
                AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" LogicalFilterOperator="LogicalFilterOperator.Or"
                AllowSorting="true">
    <Columns>
        <RadzenDataGridColumn Title="Id">
            <Template Context="item">
                M-DEP-@item.Id
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="Name" Title="Name" />
        <RadzenDataGridColumn Title="Delete Status" Type="typeof(string)" Property="deleted">
            <Template Context="item">
                @if (!item.deleted)
                {
                    <p>Not Deleted</p>
                }
                else
                {
                    <p>Deleted</p>
                }
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Title="Actions" Width="300px">
            <Template Context="item">
                @if (!item.deleted)
                {
                    <RadzenButton Variant="Variant.Text" Click="() => OpenUpdateCategoryModal(item.Id)">
                        <RadzenIcon Icon="edit" Style="font-size: 20px" />
                    </RadzenButton>
                    <RadzenButton Variant="Variant.Text" Click="() => DeleteCategory(item)">
                        <RadzenIcon Icon="delete" Style="font-size: 20px" />
                    </RadzenButton>
                }
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
