@page "/admin/updatestateform/{SfId}"

@inject Radzen.DialogService dialogService

<RadzenTemplateForm TItem="StateFormModel" Data=@state_form Submit="@UpdateStateForm">
    <RadzenRow AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap" Gap="1rem" Class="multi-upload rz-py-sm-4">
        <RadzenColumn Size="12" SizeMD="12" SizeLG="12">
            <RadzenLabel>Envelope</RadzenLabel> <span style="color: red;">*</span>
            <RadzenUpload Change="changeDocs" @bind-value="state_form.doc" Style="width: 100%;" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "select file" }})" />
            <RadzenRequiredValidator Text="Envelope is required" />
            @foreach (var file in envImages)
            {
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                    <RadzenText>@file.file_name</RadzenText>
                    <RadzenButton Click="@(() => DeleteDoc(file))" Variant="Variant.Flat"><RadzenIcon Icon="close" /></RadzenButton>
                </RadzenStack>
            }
        </RadzenColumn>
    </RadzenRow>
    <RadzenButton ButtonType="ButtonType.Submit">Update State Form</RadzenButton>
</RadzenTemplateForm>