@page "/help"

<PageTitle>Help</PageTitle>

@*
    PP-122: create a help page.
    Feature: Craete a page for support our customers.
    Fix: Create a page named Help.
*@

<h1>Help</h1>

<a href="/externalbinaries/TeamViewer_Setup_x64.exe" download>Download Team Viewver</a>